<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.traingo.board.info.dao.InfoBoardMapper">
    <select id="infoList" parameterType="map" resultType="infoBoardCommand">
		  SELECT *
            FROM(SELECT
                   a.*,
                    rownum rnum
                FROM (SELECT
                        *
                       FROM informationboard left join(
                              SELECT num,count(*) reply_cnt from informationboardreply group by num)reply
                                 on
                              informationboard.num=reply.num join stninfotable
                                        on
                                        informationboard.nodeid=stninfotable.nodeid
					where
					  code = #{code}
		  			<if test="keyword != '' and keyfield == 'content_title'">
		  				and content_title LIKE '%' || #{keyword} || '%'
		  			</if>
		  			<if test="keyword != '' and keyfield == 'id'">
		  				and id LIKE '%' || #{keyword} || '%'
		  			</if>
		  			<if test="keyword != '' and keyfield == 'content_introduction'">
		  				and content_introduction LIKE '%' || #{keyword} || '%'
		  			</if>
		  			<if test="keyword != '' and keyfield == 'all'">
		  				and (content_title LIKE '%' || #{keyword} || '%' or
		  				id LIKE '%' || #{keyword} || '%' or
		  				content_introduction LIKE '%' || #{keyword} || '%')
		  			</if>
                order by informationboard.num DESC)a) 
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>     
		  
		  
	</select>
	<select id="getListRowCount" parameterType="map" resultType="integer">
		SELECT
		   count(*)
		FROM informationboard 
			where
					  code = #{code}
		  			<if test="keyword != '' and keyfield == 'content_title'">
		  				and content_title LIKE '%' || #{keyword} || '%'
		  			</if>
		  			<if test="keyword != '' and keyfield == 'id'">
		  				and id LIKE '%' || #{keyword} || '%'
		  			</if>
		  			<if test="keyword != '' and keyfield == 'content_introduction'">
		  				and content_introduction LIKE '%' || #{keyword} || '%'
		  			</if>
		  			<if test="keyword != '' and keyfield == 'all'">
		  				and (content_title LIKE '%' || #{keyword} || '%' or
		  				id LIKE '%' || #{keyword} || '%' or
		  				content_introduction LIKE '%' || #{keyword} || '%')
		  			</if>
	</select>
	<select id="infoListReply" parameterType="map"
								resultType="infoBoardReplyCommand">
		SELECT
		   re_num,
		   re_content,
		   to_char(re_register, 'YYYY-MM-MM HH24:MI:SS') re_register,
		   num,
		   id,
		   re_ip
		  FROM(SELECT 
		            a.*,
		            rownum rnum
		           FROM (SELECT
		                     *
		                    FROM informationboardreply
		                    WHERE num = #{num}
		                    ORDER BY re_num DESC)a)
		<![CDATA[
			WHERE rnum >= #{start} AND rnum <= #{end}
		]]>                   
		                     
	
	</select>
    
</mapper>